---
/*
export interface Props {
	title: string;
	body: string;
	href: string;
}


const { href, title, body } = Astro.props;
*/
---
<header class="header">
    <a href="#" class="header-logo">Astro!</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a href="#">Login</a>
      <a href="#">Register</a>
    </div>
    <a href="#" class="header-menu-toggle">
      <i class="fa fa-bars"></i>
    </a>
  </header>
  
  <style>
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .header-menu-toggle {
      display: none;
    }
  
    @media (max-width: 767px) {
      .header-menu-toggle {
        display: block;
      }
  
      .header-nav,
      .header-right {
        display: none;
      }
    }
  </style>
  
  <script>
    document.querySelector(".header-menu-toggle").addEventListener("click", function() {
      document.querySelector(".header-nav").classList.toggle("show");
    });
  </script>
  